body {
    background-color: #ededed;
}

h3 {
    font-size: 2.5em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

.btn-default {
    color: #F1F1F1;
    background-color: #555555;
    border-color: #ccc;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-nav {
    font-size: 1.2em;
}

.linebreak {
    border: none;
    border-bottom: 3px solid black;
}