body {
    background-color: #ededed;
}

h1 {
    font-size: 2.8em;
    margin-top: 0;
}

p {
    font-size: 1.2em;
}

.centered {
    text-align: center;
}

.btn-default {
    color: #F1F1F1;
    background-color: #555555;
    border-color: #ccc;
}

.navbar-brand {
    font-family: minion-pro;
    font-size: 1.8em;
}

.navbar-nav {
    font-size: 1.2em;
}

.linebreak {
    border: none;
    border-bottom: 3px solid black;
}