body {
    background-color: #ededed;
}

.page-title {
    text-align: center;
    font-size: 2.8em;
    margin-top: 0;
}

.page-headings {

}

.page-subheadings {
    text-decoration: underline;
}

.page-text {
    font-size: 1.2em;
    margin-top: 0;   
}

.right-aligned {
    float: right;
}

.left-aligned {
    float: left;
}

.table-header {
    font-size: 1.2em;
}

.table-element {
    font-size: 1em;
}

.btn-default {
    color: #F1F1F1;
    background-color: #555555;
    border-color: #ccc;
}

.navbar-brand {
    font-family: minion-pro;
    font-size: 1.8em;
}

.navbar-nav {
    font-family: minion-pro;
    font-size: 1.2em;
}

.linebreak {
    border: none;
    border-bottom: 3px solid black;
}
