<h1 class="page-title">
    Colin Howes
</h1>

<hr class="linebreak"/>

<p class="page-text">
<img class="photo" src="images/profile.jpg" alt="Colin Howes" />
    I am a current MMath student in Computer Science at the University of Waterloo, and in a past life I earned an MSc in Neuroscience and Applied Cognitive Science from the University of Guelph with a Collaborative Specialization in Neuroscience.
    <br/><br/>
    I have experience developing web based data collection tools centered around user experience, and with statistical computing and data analysis. I am also interested in operating system design and low level programming.    
</p>

</div>