<h1 class="page-title">
    Colin Howes
</h1>

<hr class="linebreak"/>

<p class="page-text">
<img class="photo" src="images/profile.jpg" alt="Colin Howes" />
    I am a current MMath student in Computer Science at the University of Waterloo, and recently received an MSc in Neuroscience and Applied Cognitive Science from the University of Guelph.
    <br/><br/>
    I have experience in statistical computing and data analysis, developing web based data collection tools, and Android development. Additionally, I am interested in operating system design, and am passionate about open source.
    <br/><br/>    
</p>

</div>