<h1 class="page-title">
    Colin Howes
</h1>

<hr class="linebreak"/>

<p class="page-text">
<img class="photo" src="images/profile.jpg" alt="Colin Howes" />
    I am a current MMath student in Computer Science at the University of Waterloo, and in a past life I received an MSc in Neuroscience and Applied Cognitive Science from the University of Guelph.
    <br/><br/>
    I am interested in the intersections between computer science and the natural sciences. Given my background in neuroscience research, I find myself drawn to machine learning, artificial intelligence, and data science. Outside of the lab, I am a competitive sport fencer and avid cyclist. 
</p>

</div>