<h1 class="page-title">
    Academics
</h1>

<hr class="linebreak"/>

<h3 class="page-headings">Education</h3>
<p class="degree">MMath Computer Science<span class="pull-right">2017 - Present</span></p>
<p class="page-text"><span class="italics">University of Waterloo</span>
<br />GPA: 3.98 / 93%</p>

<p class="degree">MSc Neuroscience and Applied Cognitive Science<span class="pull-right">2014 - 2016</span></p>
<p class="page-text"><span class="italics">University of Guelph</span>
<br />GPA: 3.98 / 94%</p>


<h3 class="page-headings">Relevant Coursework</h3>

<div class="table-responsive">
	<table class="table">
		<thead class="table-header">
			<tr>
				<th>Course</th>
				<th>Description</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody class="table-element">
			<tr>
				<td>Advanced Distributed Systems</td>
				<td>Discussion of advanced concepts in distributed systems, including common architectures, communication mechanisms, shared storage, consistency, and fault tolerance.</td>
				<td>IP</td>
			</tr>
			<tr>
				<td>Empirical Performance Evaluation</td>
				<td>Project based course focused around conducting a small research project. I evaluated the suitability of TCP BBR for data centers supporting latency-critical distributed applications</td>
				<td>IP</td>
			</tr>
			<tr>
				<td>Artificial Intelligence</td>
				<td>Introduction to current techniques in artificial intelligence, including machine learning, local search, bayes nets, and decision trees</td>
				<td>IP</td>
			</tr>
			<tr>
				<td>Security and Privacy</td>
				<td>Introduction to security and privacy in operating systems, programs, networks, and databases</td>
				<td>96%</td>
			</tr>
			<tr>
				<td>Networks</td>
				<td>Introduction to network architecture and protocols</td>
				<td>96%</td>
			</tr>
			<tr>
				<td>Operating Systems</td>
				<td>Introduction to operating system function, design, and implementation</td>
				<td>91%</td>
			</tr>
			<tr>
				<td>Algorithms</td>
				<td>Design and analysis of algorithms</td>
				<td>89%</td>
			</tr>
			<tr>
				<td>Data Structures</td>
				<td>Study of abstract data types and an introduction to algorithm analysis</td>
				<td>94%</td>
			</tr>
			<tr>
				<td>Intermediate Programming</td>
				<td>Memory management, complex data types, and generic programming in C</td>
				<td>98%</td>
			</tr>
			<tr>
				<td>Introduction to Programming</td>
				<td>Introduction to the C programming language</td>
				<td>96%</td>
			</tr>
		</tbody>
	</table>
</div>
