<h1 class="page-title">
    Contact Me
</h1>

<hr class="linebreak"/>

<h3 class="page-heading">Get in Touch</h3>
<p class = "page-text">
    I'm always open to hearing about new opportunities. The best way to reach me is through email. You can reach me at:<br />
    <a href="mailto:colin.howes888@gmail.com">colin.howes888@gmail.com</a><br />
    <a href="mailto:chowes@uoguelph.ca">chowes@uoguelph.ca</a><br />
</p>

<h3 class="page-heading">GitHub: <a href="https://github.com/chowes">github.com/chowes</a></h3>
<p class = "page-text">
    Feel free to take a look at some of my projects on GitHub. I currently have the repositories for this website and some of my data cleaning and analysis scripts publicly available. Note that, while I have presented complete data cleaning and analysis scripts, I am currently not able to make the raw data publicly available.
</p>

