<h1 class="page-title">Projects</h1>

<hr class="linebreak"/>

<h3>Improved Initiative</h3>

<p class="page-text">
	Improved Initiative is an Android app created to help Dungeon Masters manage turn order in pen-and-paper tabletop roleplaying games like Dungeons and Dragons. The app is written entirely in Java and was develped using Android Studio. SQLite was used as backend local storage for persistent character data.
</p>

<p class="page-text">
	<a href="https://github.com/chowes/improved-initiative">GitHub</a>
</p>

<h3>Scoundrel</h3>

<p class="page-text">
    Scoundrel is a terminal based "rogue-like" RPG for Linux built in C using the ncurses library. In its current state, the player can traverse a static dungeon loaded from a file, slay monsters, and collect loot. Random dungeon generation is planned, along with a level-up system and more in-depth equipment management. 
</p>

<p class="page-text">
	<a href="https://github.com/chowes/scoundrel">GitHub</a>
</p>

<h3>Automated Data Processing and Analysis</h3>

<p class="page-text">
	Processing large collections of scientific data by hand is both tedious and error prone, and introduces an additional source of bias. This set of scripts written in Python and R allow for automated data cleaning and analysis, facilitating fast, accurate statistical analyses and generation of graphs and figures.  
</p>

<p class="page-text">
	<a href="https://github.com/chowes/behavioural-data-processing">GitHub</a>
</p>

<h3>PICAXE Robot</h3>

<p class="page-text">
    This small robot was programmed in BASIC on a PICAXE board, and is capable of autonomous roaming and obstacle avoidance. Additionally, the robot's automous roaming features may be overriden, allowing the robot to be controlled via an NES controller. 
</p>

<h3>Personal Website</h3>

<p class="page-text">
    This simple (and hopefully appealing) website was built using HTML and CSS, along with the AngularJS and Bootstrap frameworks. Responsive UI elements and single-page loading make this website fast and attractive on a wide range of devices. 
</p>

<p class="page-text">
	<a href="https://github.com/chowes/colinhowes">GitHub</a>
</p>