<h1 class="page-title">Projects</h1>

<hr class="linebreak"/>

<h3>WatFS - <a href="https://github.com/chowes/WatFS">GitHub</a> </h3>

<p class="page-text">
	Fault tolerant remote file system built on top of FUSE, using gRPC as a communcation mechanism. Similar to contemporary implementations of NFS, WatFS is fault resistent and supports batched writes to improve performance. Implemented in C++ with help from protobuf.
</p>

<p class="page-text">
</p>

<h3>Analysis of TCP BBR for Data Center Networks</h3>

<p class="page-text">
	Assessed the performance of TCP BBR as an alternative congestion control algorithm for data centers supporting latency critical distributed applications. A simple partition/aggregate application was used to assess throughput and query delay. Implemented in C and C++.
</p>

<h3>Data Center TCP Replication</h3>

<p class="page-text">
	Replicated DCTCP performance experiments related to incast congestion and ECN parameter tuning using data center network topologies modeled in the Mininet network emulator.
</p>

<h3>nPerf</h3>

<p class="page-text">
	A simple tool designed to facilitate TCP performance measurement in data centers, where many flows from different nodes tend to converge at a single receiver. This use case is not well supported by existing tools like iPerf. Implemented in C and C++.
</p>

<h3>Improved Initiative - <a href="https://github.com/chowes/improved-initiative">GitHub</a> | <a href="https://play.google.com/store/apps/details?id=me.colinhowes.rollinitiative">Play Store</a></h3>
<p class="page-text">
	Improved Initiative is an Android app created to help Dungeon Masters manage turn order in pen-and-paper tabletop roleplaying games like Dungeons and Dragons. The app is written entirely in Java and was develped using Android Studio. SQLite was used as backend local storage for persistent character data.
</p>

