<h1 class="page-title">Projects</h1>

<hr class="linebreak"/>

<h3>Personal Website</h3>

<p class="page-text">
    This simple (and hopefully appealing) website was built using basic HTML and CSS along with the AngularJS and Bootstrap frameworks. The snappy load times you may have noticed when navigating between pages were accomplished by using the "single page" model made possible (or at least easier) by some cool features in AngularJS. You can also also open this site on a mobile phone (or just change the size of your browser window) if you would like to see the nice responsive UI I implemented through some neat Bootstrap style features.   
</p>

<h3>Scoundrel</h3>

<p class="page-text">
    A terminal based "rogue-like" RPG game for Linux built in C using the ncurses library. 
</p>

<h3>NES Controlled PICAXE Robot</h3>

<p class="page-text">
    I created a small robot capable of autonomous roaming and obstacle avoidance, with support for user input via an NES controller. 
</p>

