<h1 class="page-title">
    Research
</h1>

<hr class="linebreak"/>

<h3 class="page-headings">Current Research</h3>

<h4 class="page-subheadings">Prenatal Testosterone and Social Behaviour</h4>
<p class="page-text">
    My current research project deals with establishing a link between developmental exposure to testosterone and later life social behaviour. Our research has potential implications for how we understand social behaviour, learning and memory, and developmental disorders like Autism Spectrum Disorder.

	My lab has a very strong focus on behavioural neuroscience research, though 
</p>

<h4 class="page-subheadings">Alternative Data Collection</h4>
<p class="page-text">
    I'm currently working with a research group interested in improving public health data collection methods through gamification. Our current goal is to improve data collection in remote First Nations communities, whose public health needs are often poorly understood. It is our hope that improving data collection methods and tools will enable better and more informed government initiatives targeted at these groups. You can read more about my technical involvement in this project <a href="#/projects">here</a>.
</p>

<h3 class="page-headings">Presentations</h3>

<h4 class="page-subheadings">Southern Ontario Neuroscience Association - Poster<span class="pull-right">2016</span></h4>
<p class="page-text">
    My current research project deals with establishing a link between developmental exposure to testosterone and later life social behaviour. Our research has potential implications for how we understand social behaviour, learning and memory, and developmental disorders like Autism Spectrum Disorder.
</p>

<h4 class="page-subheadings">Guelph Neuroscience Day - Poster<span class="pull-right">2016</span></h4>
<p class="page-text">
    My current research project deals with establishing a link between developmental exposure to testosterone and later life social behaviour. Our research has potential implications for how we understand social behaviour, learning and memory, and developmental disorders like Autism Spectrum Disorder.
</p>

<h4 class="page-subheadings">Society for Neuroscience - Poster<span class="pull-right">2015</span></h4>
<p class="page-text">
    My current research project deals with establishing a link between developmental exposure to testosterone and later life social behaviour. Our research has potential implications for how we understand social behaviour, learning and memory, and developmental disorders like Autism Spectrum Disorder.
</p>

<h4 class="page-subheadings">NACS Speaker Series - Talk<span class="pull-right">2015</span></h4>
<p class="page-text">
    My current research project deals with establishing a link between developmental exposure to testosterone and later life social behaviour. Our research has potential implications for how we understand social behaviour, learning and memory, and developmental disorders like Autism Spectrum Disorder.
</p>


