<h1 class="page-title">
    Skills
</h1>

<hr class="linebreak"/>

<h3 class="page-headings">Development</h3>
<p class="page-text">
    I am proficient working with C, C++, Java, and R. I have worked as a part of a team of developers on a large ongoing project, and am familiar with version control using Git. I also have experience developing web database administration tools using standard web development tools (HTML/CSS, MySQL, PHP, and JavaScript), as well as the Bootstrap and Angular JS frameworks. 
</p>
<h3 class="page-headings">Statistical Computing</h4>
<p class="page-text">
    I have a background in research statistics, and have built web tools for data visualization using the R Shiny framework. I have also built a number of tools, both for myself and other research scientists, that simplify the data analysis process and drastically reduce error and bias resulting from manual manipulation of raw data.
</p>

<h3 class="page-headings">Project Management</h3>
<p class="page-text">
    I have experience managing a team of researchers composed of undergraduate and graduate students. I was responsible for training, managing, and mentoring students, as well as fostering a passion for research and a commitment to responsible, rigorous scientific practices.
</p>

