<h1 class="page-title">
    Skills
</h1>

<hr class="linebreak"/>

<h3 class="page-headings">Technical Skills</h3>

<div class="table-responsive">
	<table class="table">
		<thead class="table-header">
			<tr>
				<th>Category</th>
				<th>Proficency In Decreasing Order</th>
			</tr>
		</thead>
		<tbody class="table-element">
			<tr>
				<td>Programming Languages</td>
				<td>C, Java, C++, Python, R</td>
			</tr>
			<tr>
				<td>Technologies and Tools</td>
				<td>Git, Linux, Android and Android Studio, Shell Scripting, LaTeX</td>
			</tr>
			<tr>
				<td>Web Technologies</td>
				<td>HTML, CSS, JavaScript, MySQL/SQLite, AngularJS, Bootstrap, PHP</td>
			</tr>
		</tbody>
	</table>
</div>

<h3 class="page-headings">Project Management</h3>
<p class="page-text">
    Lead a team of undergradate and graduate researchers throughout the course of a 2-year behavioural neuroscience research project. Managed and oversaw the planning and implementation of the project while reporting to an advisory committee, and provided mentorship and supervision to new researchers.
</p>

