<h1 class="page-title">
    Teaching
</h1>

<hr class="linebreak"/>

<h3 class="page-heading">Teaching Assistantships</h3>
<p class="page-text">
    I have worked as a teaching assistant for a number of psychology courses at the University of Guelph. Most notably, I led a seminar on statistical analysis for a class designed to prepare high achieving students for an honours thesis research course.
</p>

<h3 class="page-heading">Private Tutoring</h3>
<p class="page-text">
    I offer one-on-one tutoring to students struggling in undergraduate statistics courses. I have worked with a student whose visual impairment made grasping statistical concepts difficult, as well as with mature students returning to school after an extended absence.
</p>

