<h1 class="page-title">
    Work
</h1>

<hr class="linebreak"/>

<h3 class="page-headings">Graduate Research Assistant - Computer Science</h3>
<p class="page-text">
    I worked with a research group interested in improving public health data collection methods through gamification. Our goal was to improve data collection in remote First Nations communities, whose public health needs are often poorly understood. I was responsible for building and maintaining survey database management tools with a focus on user experience.
</p>

<h3 class="page-headings">Graduate Research Assistant - Behavioural Neuroscience</h3>
<p class="page-text">
    I conducted research aimed at establishing a link between developmental exposure to testosterone and later life social behaviour. Our research has potential implications for how we understand social behaviour, learning and memory, and developmental disorders such as Autism Spectrum Disorder. I was responsible for supervising a team of graduate and undergraduate researchers, performing behavioural and biological assays, and developing a set of data analysis tools in Python and R that automated data analysis procedures for large sets of rodent behavioural data. 
</p>

<h3 class="page-headings">Teaching Assistant</h3>
<p class="page-text">
    I have worked as a teaching assistant for a number of courses at the University of Guelph. Most notably, I led a seminar on statistical analysis for a class designed to prepare high achieving students for an honours thesis research course.
</p>

<h3 class="page-headings">Private Tutoring</h3>
<p class="page-text">
    I offer one-on-one tutoring to students struggling in undergraduate computer science and statistics courses. I have worked with a student whose visual impairment made grasping statistical concepts difficult, as well as with mature students returning to school after an extended absence.
</p>

