<h1 class="page-title">
    Work
</h1>

<hr class="linebreak"/>

<p class="degree">Perception Team Core Member<span class="pull-right">2017 - Present</span></p>
<p class="page-text"><span class="italics">WATonomous - SAE Autodrive Challenge Team</span>
<p class="page-text">
    Researched and developed image classification algorithms that could be applied in real time to traffic sign recognition in an autonomous vehicle.
</p>

<p class="degree">Graduate Research Assistant - Computer Science<span class="pull-right">2015 - 2016</span></p>
<p class="page-text"><span class="italics">University of Guelph</span>
<p class="page-text">
    Developed a survey platform in collaboration with a team of public health researchers aimed at facilitating data collection from remote communities. I designed a survey builder that enables non-technical researchers to create complex, targeted, and dynamic surveys.
</p>

<p class="degree">Graduate Research Assistant - Behavioural Neuroscience<span class="pull-right">2014 - 2016</span></p>
<p class="page-text"><span class="italics">University of Guelph</span>
<p class="page-text">
    Led a research project investigating effects of prenatal exposure to testosterone on learning and social behaviour. I was responsible for training and mentoring a large team of undergraduate students.
</p>

<p class="degree">Seminar Instructor<span class="pull-right">2014 - 2016</span></p>
<p class="page-text"><span class="italics">University of Guelph</span>
<p class="page-text">
    Led a seminar on research and statistical analysis techniques for a class designed to prepare high-achieving students interested in graduate studies for an honours thesis research course.
</p>


