<h1 class="page-title">
    Work
</h1>

<hr class="linebreak"/>

<p class="degree">Graduate Research Assistant - Computer Science<span class="pull-right">2015 - 2016</span></p>
<p class="page-text"><span class="italics">University of Guelph</span>
<p class="page-text">
    Developed a survey builder and management tool using AngularJS, PHP, and MySQL. This tool was used by a research group interested in improving public health data collection methods through gamification.
</p>

<p class="degree">Graduate Research Assistant - Behavioural Neuroscience<span class="pull-right">2014 - 2016</span></p>
<p class="page-text"><span class="italics">University of Guelph</span>
<p class="page-text">
    Conducted research aimed at establishing a link between developmental exposure to testosterone and later life social behaviour. I was responsible for supervising a team of graduate and undergraduate researchers, performing behavioural and biological assays, and developing a set of data analysis tools in Python and R that automated data analysis procedures for large sets of rodent behavioural data. 
</p>

<p class="degree">Teaching Assistant<span class="pull-right">2014 - 2016</span></p>
<p class="page-text"><span class="italics">University of Guelph</span>
<p class="page-text">
    Led a seminar on research and statistical analysis techniques for a class designed to prepare high-achieving students interested in graduate studies for an honours thesis research course.
</p>

<p class="degree">Tutor<span class="pull-right">2014 - Present</span></p>
<p class="page-text"><span class="italics">Self-Employed</span>
<p class="page-text">
    I offer one-on-one tutoring to students struggling in undergraduate computer science and statistics courses. I have worked with a student whose visual impairment made grasping statistical concepts difficult, as well as with mature students returning to school after an extended absence.
</p>

