<h1 class="page-title">
    Bio
</h1>

<hr class="linebreak"/>
	
<h3 class="page-headings">Who am I?</h3>
<p class="page-text">
<img class="photo" src="images/profile.jpg" alt="Me" />
    My name is Colin. I am a current graduate student in the University of Guelph's Neuroscience and Applied Cognitive Science MSc program. As a neuroscience researcher, I have a strong interest in machine learning, artificial intelligence, and data science. I have been tinkering since the age of 7, when I built my first robot out of a remote control car. I am passionate about science, technology, and making things. Outside of the lab, I am a competitive sport fencer and avid cyclist.
</p>

</div>