<h1 class="page-title">
    Academics
</h1>

<hr class="linebreak"/>

<h3 class="page-headings">Education</h3>

<h3 class="page-headings">Formal Coursework</h3>
<table class="table table-striped table-responsive">
	<thead>
		<tr>
			<th class="table-header">Course</th>
			<th class="table-header">Description</th>
			<th class="table-header">Grade</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-element">Research Design and Analysis</td>
			<td class="table-element">Graduate statistics course taught with R</td>
			<td class="table-element">96%</td>
		</tr>
		<tr>
			<td class="table-element">Introduction to Computer Science</td>
			<td class="table-element">Introductory course taught in C</td>
			<td class="table-element">96%</td>
		</tr>
		<tr>
			<td class="table-element">Intermediate Programming</td>
			<td class="table-element">Software design techniques in C with an introduction to data structures and algorithms</td>
			<td class="table-element">98%</td>
		</tr>
		<tr>
			<td class="table-element">Data Structures</td>
			<td class="table-element">Theory and implementation of data structures in C, with an introduction to computational complexity and algorithms</td>
			<td class="table-element">In Progress</td>
		</tr>
	</tbody>
</table>


<h3 class="page-headings">Supplementary Online Courses</h3>
<p class="page-text">Web Development (Udemy)</p>
<p class="page-text">Object Oriented Programming in Java (Udemy)</p>
<p class="page-text">Data Structures in Java (Udemy)</p>

