<h1 class="page-title">
    Academics
</h1>

<hr class="linebreak"/>

<h3>Education</h3>
<h4>MSc - Neuroscience and Applied Cognitive Science</h4>
<p>University of Guelph (2014 - Present)</p>
<h4>BA - Psychology (Minor in Law)</h4>
<p>Carleton University (2008 - 2013)</p>

<h3>Formal Coursework</h3>
<h4>Research Design and Statistics</h4>
<h4>Introduction to Computer Science</h4>
<h4>Intermediate Programming</h4>


<h3>Supplementary Online Courses</h3>
<h4>Web Development (Udemy)</h4>
<h4>Object Oriented Programming in Java (Udemy)</h4>
<h4>Data Structures in Java (Udemy)</h4>

