<h1 class="page-title">
    Skills
</h1>

<hr class="linebreak"/>

<h3>Development</h3>
<h4 class="page-subheadings">Software Engineering</h4>
<p class="page-text">
    I have experience developing tools in C, Java, and R. I have worked as a part of a team of developers, and am familiar with version control using git.
</p>
<h4 class="page-subheadings">Data Science</h4>
<p class="page-text">
    I have a background in research statistics, and have built web tools for data visualization using the R Shiny framework. I have also built data cleaning and analysis scripts for my behavioural neuroscience research, as well as other research scientists.
</p>
<h4 class="page-subheadings">Web Development</h4>
<p class="page-text">
    I have experience developing web database administration tools using standard web development tools, as well as the Angular JS framework.
</p>

<h3>Research</h2>
<p class="page-text">
    I have a strong research background, and am familiar with behavioural and molecular neuroscience and biology research techniques. I have strong data analysis skills.
</p>

