<h1 class="page-title">
    Teaching
</h1>

<hr class="linebreak"/>

<h3 class="page-heading">Teaching Assistantships</h3>
<p class="page-text">
    I have worked as a teaching assistant for a number of psychology courses. Most notably, I lead a seminar on statistical analysis for a class designed to prepare high achieving students for an honours thesis research course.
</p>

<h3 class="page-heading">Private Tutoring</h3>
<p class="page-text">
    I have worked as a private tutor for students struggling with undergraduate statistics courses. I worked with a student with a whose visual impairment made grasping statistical concepts difficult, as well as with mature students returning for a second degree.
</p>

