body {
    background-color: #ededed;
}

.photo {
    float: left;
    width: 196px;
    height: 196px;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.page-title {
    text-align: center;
    font-size: 2.8em;
    margin-top: 0;
}

.page-headings {

}

.page-subheadings {
    text-decoration: underline;
}

.page-text {
    font-size: 1.2em;  
}

.degree {
    font-size: 1.4em;  
    text-decoration: underline;
    margin-bottom: 0;
}

.italics {
    font-style: italic;
}

.pull-right {
    float: right;
}

.bold {
    font-weight: bold;
}

.table-header {
    font-size: 1.2em;
}

.table-element {
    font-size: 1em;
}

.btn-default {
    color: #F1F1F1;
    background-color: #555555;
    border-color: #ccc;
}

.navbar-brand {
    font-family: minion-pro;
    font-size: 1.8em;
}

.navbar-nav {
    font-family: minion-pro, times, serif;
    font-size: 1.2em;
}

.linebreak {
    border: none;
    border-bottom: 3px solid black;
}

@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-left{
        float: none !important;
    }
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display: block !important;
    }
}
