body {
    background-color: #FFFFFF;
}

.photo {
    float: left;
    width: 196px;
    height: 196px;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.page-title {
    color: #4269B5;
    text-align: center;
    font-size: 2.8em;
    margin-top: 0;
}

.page-headings {

}

.page-subheadings {
    text-decoration: underline;
}

.page-text {
    font-size: 1.2em;  
}

.degree {
    font-size: 1.4em;  
    text-decoration: underline;
    margin-bottom: 0;
}

.italics {
    font-style: italic;
}

.pull-right {
    float: right;
}

.bold {
    font-weight: bold;
}

.table-header {
    font-size: 1.2em;
}

.table-element {
    font-size: 1em;
}

.btn-default {
    color: #F1F1F1;
    background-color: #555555;
    border-color: #ccc;
}

.navbar-inverse {
    background-color: #4269B5;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    font-family: "Helvetica Neue", sans-serif;
    color: #e0e0e0 !important;
    font-size: 2.0em;
}

.navbar-nav {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.6em;
}

.navbar-toggle {
    border: none;
    outline: none;
}

li > a {
    color: #e0e0e0 !important;
}

li > a:hover, li > a:focus {
    color: #FFFFFF !important;
}

.linebreak {
    border: none;
    border-bottom: 3px solid #4269B5;
}

@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-left{
        float: none !important;
    }
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 0px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display: block !important;
    }
}
